# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.sln.ide

# Build Results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.dll
*.exe
*.pdb
*.cache
*.mdb

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
!**/packages/build/**

# Rider
.idea/

# User-specific files
*.sln.docstates

# Other
*.db
*.tlog
*.tmp
*.vspscc
*.vssscc
*.scc
